{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

    	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/img/bushcraft1.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Free yourself</h5>
					<p>Stage - Formations - Conseils - Aventure </p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/bushcraft2.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Forest Trip</h5>
					<p>Some representative placeholder content for the second slide.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/bushcraft3.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>Bushcraft stuff</h5>
					<p>Some representative placeholder content for the third slide.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	{#  #}
	<h1>Nos Produits Phares</h1>
	<div class="row">
		{% for product in products %}

			<div class="col">

				{% include 'product/_product_card.html.twig' %}

			</div>
		{% endfor %}
	</div>




	<h2 class="mt-2">Un service au top !!</h2>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam.</p>


	<div class="row">
		{% include "shared/_assurance.html.twig" with {"color_bg":"success", "icone":"fas fa-truck", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}
		{% include "shared/_assurance.html.twig" with {"color_bg":"warning", "icone":"fas fa-arrow-alt-circle-down", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}
		{% include "shared/_assurance.html.twig" with {"color_bg":"primary", "icone":"fas fa-lock", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}


	</div>
    <div class="mt-5"></div>
{% endblock %}
