{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos Produits Phares</h1>
	<div class="row">
		{% for product in products %}

			<div class="col">

				{% include 'product/_product_card.html.twig' %}

			</div>
		{% endfor %}
	</div>

	<hr><h2>Un service au top !!</h2>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam.</p>


	<div class="row">
		{% include "shared/_assurance.html.twig" with {"color_bg":"success", "icone":"fas fa-truck", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}
		{% include "shared/_assurance.html.twig" with {"color_bg":"warning", "icone":"fas fa-arrow-alt-circle-down", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}
		{% include "shared/_assurance.html.twig" with {"color_bg":"primary", "icone":"fas fa-lock", "text":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusamus numquam sed molestiae provident recusandae officia. Natus itaque ullam, doloribus quis, voluptas nihil tempora unde expedita adipisci, ipsam illum aliquam" } %}


	</div>
{% endblock %}
